p {
    color: mediumorchid;
    font-size: 20px;
}
h1 {
    color: mediumorchid;
    font-size: 20px;
}
h3 {
    color: mediumorchid;
    font-size: 20px;
}
title {
    color: rosybrown;
    font-size: 20px;
}
li {
    color: aqua;
    font-size: 20px;
}
h2 {
    color: rosybrown;
    font-size: 20px;
}
